__pycache__/
*.py[cod]
*$py.class
*.pyc

# Archivos de Git y configuración
.git/
.gitignore
.dockerignore


README.md

# Documentos generados / Datos
datos_preprocesados.csv
datos_rechazados.csv
datos/ 
02_fraudTest.csv
# Entornos virtuales
venv/
.venv/
.env

# Archivos de logs
*.log